# Base de datos
DATABASE_URL=postgresql://user:password@postgres:5432/cryptolens

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET_KEY=your_super_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Servicios internos
ML_ENGINE_URL=http://ml-engine:8002
LLM_SERVICE_URL=http://llm-service:8003
SCHEDULER_URL=http://scheduler:8004

# Entorno
ENVIRONMENT=development
LOG_LEVEL=INFO
