# Framework
fastapi==0.108.0
uvicorn==0.25.0
pydantic==2.5.3
pydantic-settings==2.1.0

# Base de datos
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# Autenticacion
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Redis
redis==5.0.1

# Kafka
kafka-python==2.0.2

# HTTP cliente
httpx==0.25.2

# Utilidades
python-dotenv==1.0.0
loguru==0.7.2
